.nav-container {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    position: fixed;
    background-color: #000000;
    z-index: 5;

    display: flex;
    justify-content: space-around;
}

.title {
    color: white;
}

.nav-buttons-container {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.hamburger-menu{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .nav-buttons-container {
        display: none;
    }

    .nav-container{
        justify-content: space-around;
    }

    .title {
        margin-left: -1rem;
        font-size: 1.3rem;
    }

    .hamburger-menu{
        display: flex;
        align-items: center;
    }

    .filler{
        width: 100%;
        height: 144px;
        margin-top: -82px;
        background-color: black;
        position: fixed;
        z-index: 1;

        display: flex;
        flex-direction: column;
    }
    
    .filler-open{
        width: 100%;
        height: 144px;
        margin-top: 62px;
        background-color: black;
        position: fixed;
        z-index: 1;

        display: flex;
        flex-direction: column;
    }
}